/* Menu déroulant */

.btn {
    content: url("../IMAGES/Icone.jpg");
    position: fixed;
    top: 20px;
    left: 45px;
    width: 45px;
    height: 45px;
    border-radius: 3px;
    text-align: center;
    background: #1b1b1b;
    transition: left 0.8s ease;
    cursor: pointer;
}

.btn.click {
    left: 280px;
}

.btn span {
    font-size: 28px;
    line-height: 45px;
    color: white;
}

.Barre {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    color: white;
    background: #1b1b1b;
    transition: left 0.8s ease;
}

.Barre.show {
    left: 0;
}

.Barre .text {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    letter-spacing: 1px;
    color: white;
    background: #1e1e1e;
}

nav ul {
    width: 100%;
    height: 100%;
    list-style: none;
    background: #1b1b1b;
}

nav ul li {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    line-height: 60px;
}

nav ul li:last-child {
    border-bottom: 1px solid red;
}

nav ul li a {
    display: block;
    width: 100%;
    padding-left: 40px;
    border-left: 3px solid transparent;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

nav ul li.active a {
    border-left-color: cyan;
    color: cyan;
    background: #1e1e1e;
}

nav ul ul {
    display: none;
    position: static;
}

nav ul .feat-show.show {
    display: block;
}

nav ul ul li {
    border-bottom: none;
    line-height: 42px;
}

nav ul ul li a {
    padding-left: 60px;
    font-size: 17px;
    color: #e6e6e6;
}

nav ul li.active ul li a {
    border-left-color: transparent;
    color: #e6e6e6;
    background: #1b1b1b;
}

nav li a:hover {
    color: cyan!important;
    background: #1e1e1e!important;
}

nav ul li a span {
    content: url("../IMAGES/Fleche.png");
    position: absolute;
    right: 20px;
    width: 20px;
    font-size: 22px;
    transition: transform 0.4s;
    transform: translateY(-50%);
}

nav ul li a span.rotate {
    transform: translateY(-20%) rotate(-180deg);
}

/* Media screen pour différentes résolutions téléphone, ordinateur grand / écran */

@media screen and (max-width:1000px) {
    nav ul li a span {
        top: 8%;
    }
}

@media screen and (min-width: 1500px) {
    nav ul li a span {
        top: 20%;
    }
}

@media screen and (min-width: 1920px) {
    nav ul li a span {
        top: 16%;
    }
}

@media screen and (min-width: 2300px) and (max-width: 2700px) {
    nav ul li a span {
        top: 12%;
    }
}
