body {
	box-sizing: border-box;
	padding: 20px;
	text-align: center;
	font-family: Arial,sans-serif;
	color: #333;
	background: url("https://raw.githubusercontent.com/gist/brettlangdon/85942af486eb79118467/raw/2a7409cd3c26a90b2e82bdc40dc7db18b92b3517/01151_inthedeep_2560x1600.jpg");
	background-size: cover;
}

h1 {
	color: #fff;
}

.zone_Saisie {
	width: 80%;
	margin: 10px auto;
	padding: 20px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

form {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

label {
	margin-bottom: 5px;
	font-weight: bold;
}

input[type="text"],
textarea {
	margin-bottom: 10px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	color: #333;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	resize: none;
}

input[type="submit"] {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	color: #fff;
	background-color: #333;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s ease;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #555;
}

.message {
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
}

.message p {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 14px;
}

#messages {
	height: 300px;
	margin-top: 20px;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
}
